@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/*Colors*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #bfbfbf;
  line-height: 1.6;
}

.flex, .header--menu, .header--logo, .header--buttons, .header--buttons .buttons, #form, .statistics, .statistics--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title, .hero .brand--heading, .statistics--header h2, .statistics .detaills h4, .boost-section .boost-title {
  color: #232127;
  font-weight: 700 !important;
  font-family: 'Poppins', sans-serif !important;
}

.text, .hero .brand--paragraph, .statistics--header p, .statistics .detaills p {
  font-family: 'Poppins', sans-serif !important;
  color: #bfbfbf;
  font-weight: 400 !important;
}

li {
  color: #bfbfbf;
  list-style-type: none;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  padding: 0.5rem 0;
  cursor: pointer;
}

li:hover {
  color: #3b3054 !important;
}

.button, .hero .brand .buttons--secondary, .boost-section .buttons--secondary {
  margin-top: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2acfcf;
  color: white;
  padding: 0.9rem 2.8rem;
  border-radius: 3rem;
  font-weight: 700;
}

.button:hover, .hero .brand .buttons--secondary:hover, .boost-section .buttons--secondary:hover {
  background-color: #74d8d8;
  color: white;
}

/*Navigation Bar*/
.header {
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header--menu {
  width: 100%;
  padding: 3rem 0;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  gap: 2.5rem;
}

.header--logo {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  gap: 3rem;
}

.header--logo img {
  margin-top: 1rem;
}

.header--buttons {
  width: 100%;
  height: auto;
  gap: 2.4rem;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
}

.header--buttons ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.header--buttons ul li:hover {
  color: #232127 !important;
}

.header--buttons .buttons {
  width: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  gap: 2rem;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.header--buttons .buttons--primary {
  color: #9e9aa7;
}

.header--buttons .buttons--secondary--small {
  background-color: #2acfcf;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  font-weight: 700;
}

.header--buttons .buttons--secondary--small:hover {
  background-color: #74d8d8;
}

.header--mobile {
  display: none;
}

/*Brand Section*/
.hero {
  background-color: #f0f1f6;
}

.hero--section {
  margin-top: 3rem;
  padding-bottom: 10rem;
  background-color: #fff;
}

.hero .brand {
  padding-top: 6rem;
}

.hero .brand--heading {
  font-size: 4rem;
}

.hero .brand--paragraph {
  font-size: 1.5rem;
}

/*Search Link*/
#form {
  background-image: url("../images/bg-shorten-desktop.svg");
  background-color: #3b3054;
  background-size: cover;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 4rem;
  border-radius: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#link {
  height: 3.5em;
  width: 56rem;
  border: solid transparent;
  border-radius: 0.5em;
  padding-left: 2em;
}

.input-link input::-webkit-input-placeholder {
  color: #f46262;
  font-weight: 500;
  font-size: 1.2em;
}

.input-link input:-ms-input-placeholder {
  color: #f46262;
  font-weight: 500;
  font-size: 1.2em;
}

.input-link input::-ms-input-placeholder {
  color: #f46262;
  font-weight: 500;
  font-size: 1.2em;
}

.input-link input::placeholder {
  color: #f46262;
  font-weight: 500;
  font-size: 1.2em;
}

#link:focus::-webkit-input-placeholder {
  color: #f46262;
}

#link:focus:-ms-input-placeholder {
  color: #f46262;
}

#link:focus::-ms-input-placeholder {
  color: #f46262;
}

#link:focus::placeholder {
  color: #f46262;
}

.buttons--short {
  margin-left: 1em;
  color: #fff !important;
  background-color: #2acfcf;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5em;
}

.buttons--short:hover {
  background-color: #74d8d8;
}

/*Stats Section*/
.statistics {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
}

.statistics--header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 7.6rem 0 6.3rem 0;
}

.statistics--header h2 {
  padding-bottom: 10px;
}

.statistics--header p {
  text-align: center;
  max-width: 30rem;
}

.statistics--detaills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.statistics .detaills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  background-color: white;
  padding: 5rem 2rem 2.5rem 2rem;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.statistics .detaills:nth-child(2) {
  margin-top: 3rem;
}

.statistics .detaills:nth-child(3) {
  margin-top: 5.7rem;
}

.statistics .detaills img {
  background-color: #3b3054;
  padding: 1.5rem;
  border-radius: 50%;
  margin-top: -8rem;
}

.statistics .detaills h4 {
  margin-top: 1rem;
}

.statistics--bar {
  background-color: #2acfcf;
  height: 9px;
  width: 70%;
  margin-top: 18.5rem;
  position: absolute;
  z-index: 0;
}

/*Boost Section*/
.boost-section {
  background-image: url("../images/bg-boost-desktop.svg");
  background-color: #3b3054;
  background-size: cover;
  padding: 3rem 0;
}

.boost-section .boost-title {
  color: white;
  text-align: center;
}

.boost-section .buttons--secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-style: none;
  margin-top: 2rem;
}

/*Footer Section*/
.footer {
  background-color: #232127;
  color: white;
  padding: 4rem 0;
}

.footer--content h5 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  margin-bottom: 1.5rem;
}

.footer--content li a {
  text-decoration: none !important;
  color: #bfbfbf !important;
  font-weight: 500 !important;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

.footer--content li a:hover {
  color: #2acfcf !important;
}

.footer--svg {
  height: 1.7rem;
  width: auto;
  padding-right: 1rem;
}

.footer--svg:hover path {
  fill: #2acfcf;
}

@media (max-width: 1026px) {
  .header--menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 25rem;
    padding: 2rem 2rem;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #3b3054;
    z-index: 99;
    text-align: center;
    border-radius: 1rem;
  }
  .header--buttons ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 1.3rem;
    border-bottom: 0.01px solid #9e9aa7;
    padding-bottom: 1.5rem;
    padding-left: 0 !important;
  }
  .header--buttons ul li {
    color: white;
  }
  .header--buttons ul li:hover {
    color: white !important;
  }
  .header .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 0;
    margin: 0 auto;
  }
  .header .buttons--primary {
    padding: 1rem 0;
    color: white;
  }
  .header .buttons--secondary--small {
    width: 100%;
    padding: 0.7rem 1rem;
  }
  .header--mobile {
    display: block;
  }
  .header--mobile i {
    font-size: 26px;
    color: #bfbfbf;
  }
  .brand {
    padding-top: 1rem !important;
  }
  .brand--heading {
    text-align: center;
    font-size: 2.7rem !important;
  }
  .brand--paragraph {
    text-align: center;
    font-size: 1.2rem !important;
  }
  .brand .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row.flex-direction {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  #form.flex-direction {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }
  #form.flex-direction #link {
    width: 100% !important;
  }
  #form.flex-direction .buttons--short {
    margin: 1rem 0 0 0 !important;
    width: 100%;
  }
  .statistics--header {
    padding: 0;
    padding: 5rem 0 3rem 0;
  }
  .statistics--header h1 {
    padding-bottom: 20px;
    font-size: 28px;
    text-align: center;
  }
  .statistics--header p {
    width: 100%;
  }
  .statistics--detaills {
    -ms-grid-columns: none;
        grid-template-columns: none;
    grid-gap: 0rem;
  }
  .statistics--detaills .detaills {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .statistics--detaills .detaills img {
    background-color: #3b3054;
    padding: 1.5rem;
    border-radius: 50%;
    margin-top: -8rem;
  }
  .statistics--detaills .detaills h2 {
    text-align: center;
    font-size: 22px;
    color: #232127;
  }
  .statistics--detaills .detaills p {
    text-align: center;
    line-height: 1.7;
  }
  .statistics--detaills .detaills:nth-child(1) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .statistics--detaills .detaills:nth-child(2) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .statistics--detaills .detaills:nth-child(3) {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  .statistics--bar {
    height: 700px;
    width: 9px;
    margin-top: 20rem;
    position: absolute;
    z-index: 0;
    -webkit-transform: rotateY(180eg);
            transform: rotateY(180eg);
  }
  .footer--content {
    text-align: center;
    padding-top: 2rem;
  }
  .footer--content ul {
    padding-top: 2rem;
    padding-left: 0 !important;
  }
  .footer--content .footer--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
    gap: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */